<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contact UCATx</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

    });
  </script>
</%block>

<section class="container" style="width: auto;">
  
<form action="mailto:14moocs14@ucatx.cat" method="post" enctype="text/plain" >
FirstName:<input type="text" name="FirstName">
Email:<input type="text" name="Email">
<input type="submit" name="submit" value="Submit">
</form>

</section>
