<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contact UCATx</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

    });
  </script>
</%block>

<section class="container about" style="width: auto;">
<hr />
    <section class="vision">
        <p>If you have questions, suggestions, or issues about a specific course, please post in on your course’s discussion forum.</p>
        <p>If you are not a student and have a general question about UCATx, please contact us at 14moocs14(at)ucatx.cat.</p>
    </section>
<hr />
</section>
