<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contact UCATx</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <hr />
    <section class="vision">
<form role="form" enctype="text/plain" method="get" action="mailto:14moocs14@ucatx.cat">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="name">Nom</label>
                                <input class="form-control" type="text" name="Subject" placeholder="Nom">
                            </div>
                        </div>
      <br />

                        <!-- TODO
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="email">Correu Electrònic</label>
                                <input class="form-control" type="email" name="email" placeholder="Correu Electrònic">
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="message">Missatge</label>
                                <textarea placeholder="Missatge" name="Body"class="form-control" rows="5"></textarea>
                            </div>
                        </div>
      <br />

                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success">Envia</button>
                            </div>
                        </div>
                    </form>
        </section>
      <hr />
</section>
